<!DOCTYPE html>
<html>
<head>
  <title>Crud delayed jobs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "crud_delayed_jobs/application", "data-turbo-track": "reload" %>

</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
